<a href="https://colab.research.google.com/github/AitorNoel/PontiaProyectoJupiter/blob/main/EDA3dataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import io
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
df=pd.read_csv('/3dataSet.csv')

In [15]:
df.head()

,fecha de publicacion,titulo,descripcion,nombre_empresa,ciudad,cod_pais,jornada,tipo de trabajo,cluster,tipo de contrato,salario_minimo,salario_maximo,periodo salarial,moneda
0,2022-07-12,Técnico Gestión de la Demanda,-Definición de roles y escenarios\r\n - D...,Atento España - Estructura,Madrid,es,Jornada completa,Híbrido,Informática y telecomunicaciones,Contrato indefinido,NaN,NaN,NaN,NaN
1,2022-07-12,Java - SpringBoot - Proyecto estable - Teletra...,"Desde AgioGlobal Technology, nos encontramos e...",AGIO GLOBAL TECHNOLOGY,Madrid,es,Jornada completa,Solo teletrabajo,Informática y telecomunicaciones,Contrato indefinido,40000.00,45000.00,YEAR,EUR
2,2022-07-12,Consultor SAP Hana Ingles Alto (Remoto),AirON compañia de innovacion servicios tecnolo...,AIRON Sistemas S.L.,Madrid,es,Jornada completa,Solo teletrabajo,Informática y telecomunicaciones,Contrato indefinido,27000.00,30000.00,YEAR,EUR
3,2022-07-12,ANDROID DEVELOPER. INGLÉS ALTO. 100% REMOTO,Desde MODIS IT consultora GLOBAL especializada...,MODIS,Madrid,es,Jornada completa,Solo teletrabajo,Informática y telecomunicaciones,Contrato indefinido,NaN,NaN,NaN,NaN
4,2022-07-12,Analista Funcional TEMPORAL,Nuevas aplicaciones/Extensión de la funcionali...,Atento España - Estructura,Madrid,es,Jornada completa,Híbrido,Informática y telecomunicaciones,Contrato indefinido,24000.00,27000.00,YEAR,EUR

In [16]:
df.shape

(10430, 14)

In [17]:
# Get the unique values for all columns
unique_values = df.apply(pd.Series.unique)
print(unique_values)

fecha de publicacion    [2022-07-12, 2022-08-26, 2022-09-02, 2022-09-0...
titulo                  [Técnico Gestión de la Demanda, Java - SpringB...
descripcion             [-Definición de roles y escenarios\r\n      - ...
nombre_empresa          [Atento España - Estructura, AGIO GLOBAL TECHN...
ciudad                  [Madrid, Maresme Central, Getafe, Valencia, Má...
cod_pais                [es, us, sg, de, nl, uk, in, fr, mx, ie, ES, nan]
jornada                 [Jornada completa, nan, Jornada indiferente, J...
tipo de trabajo         [Híbrido, Solo teletrabajo, Presencial, nan, T...
cluster                 [Informática y telecomunicaciones, Management ...
tipo de contrato        [Contrato indefinido, Contrato otros contratos...
salario_minimo          [nan, 40000.0, 27000.0, 24000.0, 18000.0, 3000...
salario_maximo          [nan, 45000.0, 30000.0, 27000.0, 21000.0, 4000...
periodo salarial                                 [nan, YEAR, MONTH, HOUR]
moneda                           [nan, EUR, USD, SGD, GBP, INR, MXN, IRR]
dtype: object

In [ ]:
# Count the number of null values in the entire DataFrame
null_count = df.isnull().sum().sum()
print(null_count)

35885

In [18]:
#Value_counts
value_counts = df['titulo'].value_counts()

print(value_counts)

titulo
Project Manager                                            22
Software Engineer                                          14
Business Analyst                                           13
Data Analyst                                               12
Security Officer                                           10
                                                           ..
INGENIERO/A RESPONSABLE MANTENIMIENTO                       1
Electromecánico Industrial alimentación- Sevilla            1
Mecánico industrial                                         1
TECNICO/A DE DOCUMENTACIÓN GRAFICA_GIS                      1
Business Analyst - Private Equity & Principal Investors     1
Name: count, Length: 9236, dtype: int64

In [19]:
# Count the number of null values in column 'A'
null_count_titulo = df['titulo'].isnull().sum()

print("Number of null values in column 'titulo':", null_count_titulo)

Number of null values in column 'titulo': 0

In [20]:
#Value_counts
value_counts = df['periodo salarial'].value_counts()

print(value_counts)

periodo salarial
YEAR     7024
MONTH     118
HOUR        5
Name: count, dtype: int64

In [21]:
# Count the number of null values in column 'A'
null_count_periodo = df['periodo salarial'].isnull().sum()

print("Number of null values in column 'periodo salarial':", null_count_periodo)

Number of null values in column 'periodo salarial': 3283

In [22]:
#Value_counts
value_counts = df['ciudad'].value_counts()

print(value_counts)

ciudad
Madrid                   2625
Barcelona                1292
London, England           566
Singapore                 553
Austin, TX                291
                         ...
Iurreta                     1
Lobón                       1
Avinyó                      1
Macael                      1
Camarma de Esteruelas       1
Name: count, Length: 550, dtype: int64

In [23]:
# Count the number of null values in column 'A'
null_count_ciudad= df['ciudad'].isnull().sum()

print("Number of null values in column 'ciudad':", null_count_ciudad)

Number of null values in column 'ciudad': 1

In [24]:
#Value_counts
value_counts = df['cod_pais'].value_counts()

print(value_counts)

cod_pais
es    6175
us    1264
uk     857
sg     553
ES     400
de     368
fr     335
in     203
nl     136
ie      99
mx      10
Name: count, dtype: int64

In [25]:
# Count the number of null values in column 'A'
null_count_pais = df['cod_pais'].isnull().sum()

print("Number of null values in column 'cod_pais':", null_count_pais)

Number of null values in column 'cod_pais': 30

In [26]:
#Value_counts
value_counts = df['jornada'].value_counts()

print(value_counts)

jornada
Jornada completa                   4756
Jornada indiferente                 108
Jornada intensiva - mañana           69
Jornada parcial - mañana             42
Jornada intensiva - indiferente      28
Jornada parcial - indiferente        27
Jornada parcial - tarde               9
Jornada intensiva - tarde             5
Jornada intensiva - noche             3
Name: count, dtype: int64

In [27]:
# Count the number of null values in column 'A'
null_count_jornada = df['jornada'].isnull().sum()

print("Number of null values in column 'jornada':", null_count_jornada)

Number of null values in column 'jornada': 5383

In [28]:
#Value_counts
value_counts = df['tipo de trabajo'].value_counts()

print(value_counts)

tipo de trabajo
Presencial                 1870
Híbrido                    1360
Solo teletrabajo            824
Trabajo solo presencial     284
Teletrabajo posible          77
Name: count, dtype: int64

In [29]:
# Count the number of null values in column 'A'
null_count_tipoTrabajo = df['tipo de trabajo'].isnull().sum()

print("Number of null values in column 'tipo de trabajo':", null_count_tipoTrabajo)

Number of null values in column 'tipo de trabajo': 6015

In [30]:
#Value_counts
value_counts = df['nombre_empresa'].value_counts()

print(value_counts)

nombre_empresa
Michael Page                       139
Turner & Townsend                  136
TD SYNNEX                          129
Accenture                          128
Apple                              111
                                  ...
ARTHUR D. LITTLE ASIA PTE. LTD.      1
AJ RESOURCES PTE. LTD.               1
Amazon Kuiper Manufacturing          1
Ntirety                              1
Cobee                                1
Name: count, Length: 3138, dtype: int64

In [31]:
# Count the number of null values in column 'A'
null_count_empresa = df['nombre_empresa'].isnull().sum()

print("Number of null values in column 'nombre_empresa':", null_count_empresa)

Number of null values in column 'nombre_empresa': 0

##EDA##

In [32]:
#HEAD
df.head(5)

,fecha de publicacion,titulo,descripcion,nombre_empresa,ciudad,cod_pais,jornada,tipo de trabajo,cluster,tipo de contrato,salario_minimo,salario_maximo,periodo salarial,moneda
0,2022-07-12,Técnico Gestión de la Demanda,-Definición de roles y escenarios\r\n - D...,Atento España - Estructura,Madrid,es,Jornada completa,Híbrido,Informática y telecomunicaciones,Contrato indefinido,NaN,NaN,NaN,NaN
1,2022-07-12,Java - SpringBoot - Proyecto estable - Teletra...,"Desde AgioGlobal Technology, nos encontramos e...",AGIO GLOBAL TECHNOLOGY,Madrid,es,Jornada completa,Solo teletrabajo,Informática y telecomunicaciones,Contrato indefinido,40000.00,45000.00,YEAR,EUR
2,2022-07-12,Consultor SAP Hana Ingles Alto (Remoto),AirON compañia de innovacion servicios tecnolo...,AIRON Sistemas S.L.,Madrid,es,Jornada completa,Solo teletrabajo,Informática y telecomunicaciones,Contrato indefinido,27000.00,30000.00,YEAR,EUR
3,2022-07-12,ANDROID DEVELOPER. INGLÉS ALTO. 100% REMOTO,Desde MODIS IT consultora GLOBAL especializada...,MODIS,Madrid,es,Jornada completa,Solo teletrabajo,Informática y telecomunicaciones,Contrato indefinido,NaN,NaN,NaN,NaN
4,2022-07-12,Analista Funcional TEMPORAL,Nuevas aplicaciones/Extensión de la funcionali...,Atento España - Estructura,Madrid,es,Jornada completa,Híbrido,Informática y telecomunicaciones,Contrato indefinido,24000.00,27000.00,YEAR,EUR

In [33]:
#tail
df.tail(5)

,fecha de publicacion,titulo,descripcion,nombre_empresa,ciudad,cod_pais,jornada,tipo de trabajo,cluster,tipo de contrato,salario_minimo,salario_maximo,periodo salarial,moneda
10425,2022-08-22T00:00:00.000Z,Graduate Program INTERNATIONAL FINANCE ANALYST,Agency :\nHavas Media Group Spain\nJob Descrip...,Havas Group,Madrid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR
10426,2022-01-26T00:00:00.000Z,Analyst - GeoAnalytics,WHAT YOU'LL DO\nGAMMA is BCG’s premier data sc...,Boston Consulting Group,Madrid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR
10427,2022-10-19T00:00:00.000Z,Data Labelling (Spain),We are a leading digital identity company that...,Incode Technologies,Madrid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR
10428,2023-01-23T00:00:00.000Z,Data Analyst,"About Us & Our Culture\nWe, employees, need a ...",Cobee,Madrid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR
10429,2022-04-06T00:00:00.000Z,Business Analyst - Private Equity & Principal ...,Who You'll Work With\nYou will be based in our...,McKinsey & Company,Madrid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR

In [34]:
#sample
df.sample(5)

,fecha de publicacion,titulo,descripcion,nombre_empresa,ciudad,cod_pais,jornada,tipo de trabajo,cluster,tipo de contrato,salario_minimo,salario_maximo,periodo salarial,moneda
3009,2022-06-29,Electricista Industrial (H/M),"BAMA SISTEMAS, empresa de instalación y manten...",Bama,Getafe,es,Jornada intensiva - mañana,Presencial,Ingenieros y técnicos,Contrato indefinido,NaN,NaN,NaN,NaN
422,2022-07-12,Desarrollador PHP,"Desde Fed IT, principal consultora de selecció...",FED IT,A Coruña,es,Jornada completa,Presencial,Informática y telecomunicaciones,Contrato indefinido,30000.00,40000.00,YEAR,EUR
6279,2022-08-09,"Senior Finance Manager - AWS, S3 and Glacier S...",12+ years of finance experience or a related a...,Amazon.com Services LLC,"Chicago, IL",us,NaN,NaN,Information Technology,NaN,118833.00,172975.00,YEAR,USD
7435,2022-08-22,Account Executive (Hong Kong market),Experienced . Strong field-based enterprise so...,Tableau,Singapore,sg,NaN,NaN,Information Technology,NaN,87600.00,95000.00,YEAR,SGD
1595,2022-09-02,Senior Executive - Accounts,Drive the resolution of collection problems by...,Lionbridge Technologies,Mumbai,in,NaN,NaN,Information Technology,NaN,200000.00,438000.00,YEAR,INR

In [35]:
#types
df.dtypes

fecha de publicacion     object
titulo                   object
descripcion              object
nombre_empresa           object
ciudad                   object
cod_pais                 object
jornada                  object
tipo de trabajo          object
cluster                  object
tipo de contrato         object
salario_minimo          float64
salario_maximo          float64
periodo salarial         object
moneda                   object
dtype: object

In [36]:
#info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10430 entries, 0 to 10429
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fecha de publicacion  10430 non-null  object
 1   titulo                10430 non-null  object
 2   descripcion           10430 non-null  object
 3   nombre_empresa        10430 non-null  object
 4   ciudad                10429 non-null  object
 5   cod_pais              10400 non-null  object
 6   jornada               5047 non-null   object
 7   tipo de trabajo       4415 non-null   object
 8   cluster               10000 non-null  object
 9   tipo de contrato      5047 non-null   object
 10  salario_minimo        4445 non-null   float64
 11  salario_maximo        4308 non-null   float64
 12  periodo salarial      7147 non-null   object
 13  moneda                7177 non-null   object
dtypes: float64(2), object(12)
memory usage: 1.1+ MB

In [37]:
#describe
df.describe()

       salario_minimo  salario_maximo
count         4445.00         4308.00
mean         58788.25        83999.69
std         148664.67       179615.03
min             12.00           12.00
25%          24000.00        30000.00
50%          36000.00        46150.00
75%          61733.00        91490.25
max        7500000.00      7501000.00

#1-¿Cuántas ofertas hay en el dataset?

In [46]:
#cantidad de ofertas por titulo:
cantidad_ofertas=df['titulo'].value_counts()
print(cantidad_ofertas)

titulo
Project Manager                                            22
Software Engineer                                          14
Business Analyst                                           13
Data Analyst                                               12
Security Officer                                           10
                                                           ..
INGENIERO/A RESPONSABLE MANTENIMIENTO                       1
Electromecánico Industrial alimentación- Sevilla            1
Mecánico industrial                                         1
TECNICO/A DE DOCUMENTACIÓN GRAFICA_GIS                      1
Business Analyst - Private Equity & Principal Investors     1
Name: count, Length: 9236, dtype: int64

In [49]:
#cantidad total de ofertas:
cantidad_total_de_ofertas=df.shape[0]
print("el numero total de ofertas es:",cantidad_total_de_ofertas)

el numero total de ofertas es: 10430

#2-¿Cuál es el salario medio?

In [62]:
#salario medio:
salario_minimo=df['salario_minimo'].mean()
print(round(salario_minimo))

58788

In [61]:
salario_maximo=df['salario_maximo'].mean()
print(round(salario_maximo))

84000

In [65]:
salario_medio=(salario_minimo+salario_maximo)/2
print("el salario medio es:",round(salario_medio),"euros")

el salario medio es: 71394 euros

#3-trabajos mejor pagados y donde:

In [70]:
#trabajo mejor pagado:
trabajo_mejor_pagado=df['salario_maximo'].max()
fila_mejor_pagado=df.loc[df['salario_maximo']==trabajo_mejor_pagado]
print(fila_mejor_pagado)

     fecha de publicacion                                     titulo  \
8058           2022-08-30  VP Commercial / Commercial Director & M&A

                                            descripcion nombre_empresa  \
8058  Being a retainer driven consultancy service wi...   Michael Page

      ciudad cod_pais jornada tipo de trabajo                  cluster  \
8058  Mumbai       in     NaN             NaN  Management & Consulting

     tipo de contrato  salario_minimo  salario_maximo periodo salarial moneda
8058              NaN      7500000.00      7501000.00             YEAR    INR

#4-tienen los mismos ofertantes ambas fuentes de datos?

#5-qué empresas publican los mejores salarios?

In [75]:
#empresas con mejores salarios:
mejores_salarios=df['salario_maximo'].mean()
print(round(mejores_salarios))

84000

In [86]:
empresas=df.groupby('nombre_empresa')
filtrado=empresas.filter(lambda x: x['salario_maximo'].sum()>8400)
principales_empresas=df['nombre_empresa'].head()
print(principales_empresas)

0    Atento España - Estructura
1        AGIO GLOBAL TECHNOLOGY
2           AIRON Sistemas S.L.
3                         MODIS
4    Atento España - Estructura
Name: nombre_empresa, dtype: object